.mainPost{
	margin-left: 20px;
}
.commentAva {
	width: 48px;
	height: 48px;
	margin-right: 10px;
	border-radius: 10px;
}
.oldPost {
	width: 80%;
	background-color: #831;
	display: block;
}
.oldPost h5 {
	line-height: 3;
	color: #fff;
	margin-left: 3rem;
}