.logoImg {
	width: 55px;
	height: 55px;
}
.logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}
.logo h3 {
	margin-left: 5rem;
}
header {
	grid-area: h;
	border-bottom: 1px solid #888;

}