body {
	padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
	position: relative;
	margin: 0 auto;
	max-width: 1250px;
	height: 100vh;
	display: grid;
	grid-template-areas: 
	'h h' 
	'n m'
	'f f';
	grid-template-rows: 60px 1fr 60px;
	grid-template-columns: 2fr 8fr;
}
ul {
	margin: 20px 0px 0px 20px;
	padding: 0;
	list-style-type: none;
}
ul li {
	letter-spacing: .7px;
	line-height: 1.2;
}
ul a {
	text-decoration: none;
	color: black;
	transition: .1s;
}
ul a:hover {
	color: green;
}
a.active {
	color: #884411;
	font-weight: 900;
}
